{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1>Choose it {{ name | raw }}</h1>



{# {%  if category.isAult %}
    <p>it is for Adult.</p>
{% else %}    
    <p>it is for the Child</p>
{% endif %}     #}
{% for hobby in hobbies %}   
    <li> {{ hobby }}</li>
{% else %}
    <p>No hobbies found</p>
{% endfor %}        

{% endblock %}
