{% extends 'base.html.twig' %}

{% block title %}Hello from product detail{% endblock %}

{% block body %}



{% for product in products%}
<a class="btn btn-outline-danger btn-sm" href={{ path('toOrder',{id: product.id} )}} role="button">order</a>
{%endfor%}
{% endblock %}