{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <h2>Contact Us!</h2>
        <br>
    </div>
{% endblock %}
