{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
	{% set summe = 0 %}

	<br>
	<div class="container">
		<h2>order here</h2>
		<br>

		<table class="table table-striped">
			<thead>
				<tr>
					<td>Bestell Nr.</td>
					<td>Name</td>
					<td>Preis</td>
					<td>Status</td>
					<td></td>
				</tr>
			</thead>

			<tbody>
				{% for orders in order %}
					{% set summe = summe + bestellung.preis %}
					<tr>
						<td>{{orders.orderId}}</td>
						<td>{{orders.name}}</td>
						<td>{{orders.price}}</td>
						
					</tr>
				{% endfor %}
				<td></td>
				<td></td>
				<td>{{summe}}
					EUR</td>
				<td></td>
				<td></td>
			</tbody>
		</table>
	</div>
{% endblock %}
